@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col text-center">
        <img src="~/Content/Images/image.jpg" class="img-fluid" alt="Private School Logo" />
    </div>
</div>